.App {
  
 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.banner-card {
  width: 100vw;
  height: 70vh;
  margin-top: 2vh;
  margin-bottom: 3vh;
  position: relative;
}

.banner-card img{
  height: 70vh;
}
.banner-title {
  position: absolute;
  margin-top: 45vh;
  margin-left: 18vw;
  color: white;
  font-size: 3.5rem;
}
.banner-text {
  position: absolute;
  margin-top: 55vh;
  height: 4.5rem;
  margin-left: 18vw;
  color: white;
  font-size: 1.5rem; 
 }
.moviesList {
   display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 2rem;
}

.movie-card {
  position: relative;
  width: 20vw;
  height: max-content;
  margin: 1.5rem;
  /* display: flex;
  
  align-items: center; */
  height: 20vh;
}
.card-title {
  position: absolute;
  color: white;
  top: 1rem;
  left: 1rem;
}
.movie-btn{
  position: absolute;
  bottom: 1.5rem;

}