* {
    margin: 0px;
    padding: 0px;
}
.container {
margin: 40px auto;
border: 1px solid black;
width: 500px;
height: 500px;
text-align: center;
}

#screen {
    display: block;
    margin: 10px auto;
    font-size: 2rem
}
table {
   
    margin: 10px auto;

    
}
th
{
    border-radius: 10px;
    width: 80px;
    height: 70px;
}
table button {
 font-size: 2rem;
 width: 100%;
 height: 100%;
 border-radius: 10px;
}

table button:hover {
    background-color: cornflowerblue;
}