<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mediaquery</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <article>
        <h1>times of Delhi</h1>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab harum possimus minima corporis officia velit blanditiis ipsum animi autem iste. Molestias amet perspiciatis consequuntur corporis debitis natus dolorem autem? Dolor.</p>
        <img src="https://images.unsplash.com/photo-1620205710247-65588efc1a24?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80" alt="">
        <p class="pp"> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo doloremque harum, iusto magni dolore quam ut atque iure dolorum ad voluptate similique enim necessitatibus fugiat blanditiis at doloribus. Placeat, veritatis?</p>
    </article>
</body>
</html>