<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <section>
        <h3>3D-CARD</h3>

        <div class="wrap">

            <div class="side-a"> <p>THIS IS A</p></div>
            <div class="side-b"><p>this is b</p></div>
        </div>
    </section>
</body>
</html>