* {
    margin:0px;
    padding: 0px;
    text-align: center;
}

article {
    border : 1px solid #ccc;
    width: 70vw;
    margin: 30px auto;

}


p{
    white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}
   

p:hover {
    overflow: scroll;
    text-overflow: clip;
    cursor: pointer;
}