/* 

.Qcontainer{
    width: 70%;
    height: 700px;
    overflow-y: auto;
    ::-webkit-scrollbar {
     display: none;
    }
}
.optionButton {
    gap: 10px;
} */


.Qcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  @media (max-width: 768px) {
    .Qcontainer {
      padding: 10px;
    }
  }
  