<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grid-Gallery</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/a941f65aba.js" crossorigin="anonymous"></script>
</head>
<body>

    <nav> 
        <ul>
            <li> <i class="fas fa-camera-retro"></i><a href="">Image</a></li>
            
        </ul>
    
    </nav>
    <section class="container">
        <div > 
        <img src="https://images.unsplash.com/photo-1617699746036-cfb7bb60d7af?ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDV8QkpKTXR0ZURKQTR8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
        <i class="fas fa-camera-retro"></i></div>
        <div style="background-color: rgb(218, 29, 202);"> 
        <img src="https://images.unsplash.com/photo-1617184003170-4c9fc60cdb75?ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDE4fEJKSk10dGVESkE0fHxlbnwwfHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt=""> 
    <i class="fas fa-camera-retro"></i></div>
        <div style="background-color: rgb(223, 99, 41);"> 
        <img src="https://images.unsplash.com/photo-1620153874520-aabdacf78006?ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDMxfDZzTVZqVExTa2VRfHxlbnwwfHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
    <i class="fas fa-camera-retro"></i></div>
        <div style="background-color: rgb(64, 231, 106);"> 
        <img src="https://images.unsplash.com/photo-1619638616977-37f0ce048af4?ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDMzfDZzTVZqVExTa2VRfHxlbnwwfHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
            <i class="fas fa-camera-retro"></i></div>
        <div style="background-color: rgb(27, 4, 25);"> 
            <img src="https://images.unsplash.com/photo-1594171799689-5a716fd3acd4?ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDQwfHhIeFlUTUhMZ09jfHxlbnwwfHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
            <i class="fas fa-camera-retro"></i></div>
        <div style="background-color: rgb(239, 243, 13);">
        <img src="https://images.unsplash.com/photo-1611377440737-dc4a2613582b?ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDIxfHhIeFlUTUhMZ09jfHxlbnwwfHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt=""> 
        <i class="fas fa-camera-retro"></i> </div>
    </section>
</body>
</html>