
.attr {

    display: flex;
    justify-content: center;
    // border :1px solid rgb(30, 29, 29);
    align-items: center;
    margin-top: 10%;
    background: #3a4042;
    padding: 40px 0px;
    justify-content: center;
    &__child{
        // background-color: rgb(220, 202, 202);
    //    border:1px solid white;
       display: flex;
        width: 25%;
        // height: 200px;
        ul{
            list-style: none;
            display: flex;
            justify-content: center;
            align-items: start;
            width: 100%;
            flex-direction: column;
            gap: 10px;
            li{
                font-size: 16px;
                color: white;

                i {
                    // color:#987195;;
                    color:#9B89B3 ;

                    

                }
            }
            li:hover {
                font-size: 18px;
                filter: drop-shadow(-2px 20px 17px #200f0f);
                cursor: pointer;
                transition: all 0.5s ease-in-out;
            }
    }
}
}

// @media screen and (min-width:768px){


//     .attr{

//         margin: 0px auto;
//           display: flex;
//           align-items: center;
//           justify-content: center;
//           background: #3a4042;
//           padding: 40px 0px;
//           overflow:hidden;
//           &__child{
  
//               background: #3a4042;
//               width: 30%;
//               // height: 100%;
            
  
//               ul{
//                   list-style: none;
//                   display: flex;
//                   justify-content: center;
//                   align-items: start;
//                   width: 100%;
//                   flex-direction: column;
//                   gap: 8px;
//                   li{
//                       font-size: 0.5rem;
//                       color: white;
//                       padding: 0px 10px;
//                       // flex-wrap: wrap;
//                       i {
//                           color:#d7c823;
  
//                       }
                      
//                   }
//                   li:hover {
//                       font-size: 0.5rem;
//                       filter: drop-shadow(-2px 20px 17px #200f0f);
//                       cursor: pointer;
//                       transition: all 0.5s ease-in-out;
  
//                   }
//           }
//       }
//     }

// }

@media screen and (max-width:767px) {
    .attr{

      margin: 0px auto;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #3a4042;
        padding: 40px 0px;
        overflow:hidden;
        &__child{

            background: #3a4042;
            width: 30%;
            // height: 100%;
          

            ul{
                list-style: none;
                display: flex;
                justify-content: center;
                align-items: start;
                width: 100%;
                flex-direction: column;
                gap: 8px;
                li{
                    font-size: 0.4rem;
                    color: white;
                    padding: 0px 10px;
                    // flex-wrap: wrap;
                    i {
                        color:#d7c823;

                    }
                    
                }
                li:hover {
                    font-size: 0.5rem;
                    filter: drop-shadow(-2px 20px 17px #200f0f);
                    cursor: pointer;
                    transition: all 0.5s ease-in-out;

                }
        }
    }
}
}


@media screen and (max-width:399px){

    .attr{
        padding: 30px 0px;

    
    ul{
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: start;
        width: 100%;
        flex-direction: column;
        gap: 6px;

        li{
            font-size: 4px;
            color: white;
            padding: 0px 0px;
            // flex-wrap: wrap;
            i {
                color:#d7c823;
                font-size: 4px;

            }
            
        }
        li:hover {
            font-size: 5px;
            filter: drop-shadow(-2px 20px 17px #200f0f);
            cursor: pointer;
            transition: all 0.5s ease-in-out;

        }
}
    }

}