
.menu-box {
    opacity: 0;
    transform: translateY(-20px);
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 10px;
    position: absolute; 
    align-items: start;
    background-color: #fff;



}
.menu-box.active {
    margin-top: 10px;
    transform: translateY(0px);
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100px;
    justify-content: space-evenly;
    border: 1px solid black;
    align-items: start;
    opacity: 1;
    background-color: #fff;
    padding: 10px;
    position: absolute;
}
.menu-box.active button {
    padding: 10px 0px;
}