<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bounce</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    
   
        <div>
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.eHpMcdShF0QJioOvsrrWMgHaHb%26pid%3DApi&f=1" alt="">
        </div>
   
</body>
</html>