


.container {
    display: flex;
    justify-content: space-around;
    background: #212121;
    // background-image: linear-gradient(to right top, #051937, #0d142b, #0e0f1f, #0a0814, #020202);
    margin-top: 100px;

    &__text-cont{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 40%;
        padding: 0px 30px;
        // border: 1px solid black;
        color: white;
        font-family: 'Cormorant SC', serif
        
    }

    &__img-cont {
    //    height: 40vh;
       img{
        height: 400px;
        filter: drop-shadow(8px 30px 0px #000);
    
    
    }
    }

}

// media query


@media  screen and (max-width:767px){

    .container {
        
        width: fit-content;
        display: flex;
        // flex-direction: column;
        gap:30px;
        justify-content: center;
        align-items: center;
        // border: 1px solid white;
        margin: 40px auto;

        &__text-cont{
            font-family: 'Cormorant SC', serif;
           
        }

        &__text_headline{
            font-size: 0.9rem;
            // border: 1px solid white;
            font-family: 'Cormorant SC', serif;
            
        }

        &__text_p{
            font-size: 0.4rem;
            width: 140px;
        }
        &__img-cont{
            // display: none;
            // height:20vh;
            img{
                height: 200px;
            }
        }

       
    }
}




@media  screen and (max-width:500px){

    .container {
        
        width: fit-content;
        display: flex;
        // flex-direction: column;
        gap:30px;
        justify-content: center;
        align-items: center;
        // border: 1px solid white;
        margin: 40px auto;

        &__text-cont{
            font-family: 'Cormorant SC', serif;
            
        }

        &__text_headline{
            font-size: 1rem;
            // border: 1px solid white;
            font-family: 'Cormorant SC', serif;
            
        }

        &__text_p{
            font-size: 0.4rem;
            // width: 140px;
        }
        &__img-cont{
            display: none;
            // height:20vh;
            img{
                height: 100px;
            }
        }

       
    }
}