

.container {
    display: flex;
    justify-content: space-around;
    // border: 1px solid black;
    margin-top: 100px;

    &__text-cont{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 40%;
        padding: 0px 30px;
        // border: 1px solid black;
        
    }

    &__img-cont {
       height: 600px;
       img{
        height: 100%;
       }
    }

}