

.course-cont{
    display: flex;   
    /* border: 1px solid black; */
    margin: 0px auto;   
    flex-direction: column;
    justify-content: start;
    width: 80%;
    
}
.heading {
    /* background-color: green; */
    display: flex;
    padding: 10px 40px;
    /* margin: 0px auto; */
    justify-content: start;
}
.courseBox *{
    display: flex;
    justify-content: center;
    /* margin: 0px auto;    */
    align-items: center;
}