

.course-cont{
    display: flex;   
    /* border: 1px solid black;
     */
     /* background-color: aqua; */
    margin: 0px auto;   
    flex-direction: column;
    align-items: center;
justify-content: center;   
 width: 80%;
    
}
.heading {
    /* background-color: green; */
    display: flex;
    padding: 10px 40px;
    margin: 0px auto;
    justify-content: start;
}
.courseBox *{
    display: flex;
    justify-content: center;
    /* align-items: center; */
}