/* /* 

.course-cont{
    display: flex;   
  
    margin: 0px auto;   
    flex-direction: column;
    align-items: center;
justify-content: center;   
 width: 80%;
    
}
.heading {
    display: flex;
    padding: 10px 40px;
    margin: 0px auto;
    justify-content: start;
}
.courseBox *{
    display: flex;
    justify-content: center;
} */


.course-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .heading {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .heading h1 {
    font-size: 24px;
  }
  
  .courseBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  @media (max-width: 768px) {
    .heading h1 {
      font-size: 20px;
    }
    
    .courseBox {
      flex-direction: column;
      align-items: center;
    }
  }
