* {
    margin: 0px;
    padding: 0px;

}

body {
    background-image: linear-gradient(120deg,#e2c35d,#d88771);
}
.todoDiv {
    align-items: center;
    text-align: center;
    border: 1px solid grey;
    display: flex;
    flex-direction: column;
    width: 400px;
    justify-content: center;
    margin: 30px auto;
    color: white;
    padding: 40px;
}
.todoDiv input:nth-child(1){
    font-size:1.1rem;
    border-radius: 40px;
   
}

.todoList {
    margin: 20px auto;
    font-size: 30px;
    color: rgb(3, 1, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
#todoUl{
    list-style: none;
}

.newDiv {
   
    background-color: turquoise;
    width: 403px;
    height: 50px;
    border: 1px solid green;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
  

}
.fontAwsBtn {
    display:none;
    font-size: 15px;
    background: none;
    border:none;
  
    
}
.newDiv:hover .fontAwsBtn {
    display:flex;
    font-size: 15px;
    background: none;
    border:none;
    margin-left: 30px;
    margin: 0px 5px;
    cursor: pointer;
  
    
}
button{
    border:none;
    outline: none;
    background: none;
}